
.expertiseContainer {
  background: #F5F6F7;
}

.expertiseItem {
  padding: 40px 60px;
  
  img {
    width: 200px;
    display: inline-block;
  }
}

.pill {
	display: inline-block;
	margin-left: 30px;
	img {
		width: 70px;

	}
}